/* ASYTEC/estilos.css */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url("../imagenes/fondo.jpg");
	background-color: #06133c;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	font-family: 'Raleway', sans-serif;
	line-height: 150%;
}

h2{
	text-align: center;
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	font-weight: light;
	color: #000b32;
}

h3{
	font-family: 'Raleway', sans-serif;
}


/* HEADER */

.header{
	background-color: #ffffff;
	height: 80px;
	width: 100vw;
	position: fixed;
	top: 0;
	z-index: 999;
	box-shadow: 0 0 10px #000b32;
	
	overflow: auto;
}


.logo{
	float: left;
	margin-left: 100px;
	position: relative;
	max-height: 75px;
}

.logo img{
	max-height: 75px;
}





/* NAV DESKTOP */

.nav{
	float: right;
	background-color: #fff;
	display: block;
	position: relative;
	height: 75px;
	right: 0;
}

.nav ul{
	list-style-type: none;
	margin-right: 80px;
	position: relative;
	display: block;
}

.nav li{
	float: left;
	padding-top: 45px;
}

.nav a{
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	padding: 0 20px 0 20px;
	
	transition: all 0.5s;
}

.nav a:hover{
	color: #152c75;
	text-shadow: 1px 1px 4px #aaa;
}





/* NAV MOBILE */

.nav-m{
	position: absolute;
	display: none;
}

.nav-m button{
	background: none;
	border: none;
	cursor: pointer;
	padding: 10px;
}

.nav-m-list{
	float: left;
	position: fixed;
	
	list-style-type: none;
	background-color: blue;
	
	display: none;
	border: none;
}

.nav-m a{
	display: block;
	padding: 20px;
	background-color: #fff;
	color: #152c75;
	text-decoration: none;
	
	transition: all 0.5s;
}

.nav-m a:hover{
	background-color: #eee;
}

.toggle{
	display: block;
}





/* HOME */

.home{
	padding: 50px;
	color: #fff;
	text-align: center;
	
	overflow: auto;
}

.home-box{
	height: 120px;
	padding-top: 100px;
	position: relative;
}

.home h1{	
	font-weight: normal;
	font-size: 50px;
}

.home p{
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
}





/* EMPRESA */

.empresa{
	margin-top: 70px;
	background-image: url("../imagenes/fondo2.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #fff;
	padding: 0 50px 50px 50px;
	position: relative;
}

.test{
	height: 50px;
	position: absolute;
	top: 300px;
}

.empresa h3{
	font-weight: 900;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

.empresa div{
	margin: 50px;
}

.empresa p{
	text-align: center;
	padding: 5px;
}


/* DESTACADOS */

.destacados{
	padding-top: 20px;
	display: flex;
	align-items: center;
	
	font-size: 10px;
	text-align: center;
}

.destacados p{
	text-align: center;
}

.destacados-item{
	flex-grow: 1;
	max-width: 25vw;
	height: 300px;
}

.destacados button{
	height: 30px;
	margin-top: 20px;
	line-height: 30px;
    color: #fff;
	background-color: #000b32;
    padding: 0 15px 0 15px;
	border-radius: 50px;
	text-align: center;
	cursor: pointer;
	border: 0;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 9px;
	letter-spacing: 1.5px;
	transition: all 0.2s;
}

.destacados button:hover{
	background-color: #00c3ed;
}

/* QUIENES */

.q1 p{
	margin: 0 50px 0 50px;
}

.q1 table{
	margin-right: 200px;
}

.q1 img{
	border-radius: 20px;
}

.q2 p{
	margin: 0 50px 0 50px;
	font-size: 14px;
}

.q2 table{
	margin-left: 200px;
}

.q2 img{
	border-radius: 20px;
}








/* SERVICIOS */

.servicios{
	margin-top: 200px;
	background-image: url("../imagenes/fondo2.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color:#fff;
	padding: 0 50px 50px 50px;
		
	overflow: auto;
}

.servicios h2{
	margin-top: 110px;
}

.servicios h4{
	padding: 20px;
	text-transform: uppercase;
	
	transition: color 0.5s;
}
	
.servicios-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	
	text-align: center;
	margin: 60px;
}

.servicios-item{
	background-color: #fff;
	margin-bottom: 50px;
	flex-grow: 1;
	
	max-width: 550px;
	
	
	border-radius: 30px;	
	box-shadow: 0 0 20px 2px #ddd;
	
	position: relative;
	overflow: hidden;
	
}

.servicios-item img{
	height: 300px;
	width: 550px;
	
}

.servicios-item:hover h3{
	color: #152c75;
}
	
.servicios-item:hover .info{
	bottom: 0;
}

.info{
	position: absolute;
	bottom: -300px;
	height: 300px;
	width: 500px;
	
	background-color: #000;
	opacity: 0.7;
	transition: bottom 0.5s;
}

.info p{
	color: #fff;
	padding: 50px;
	font-size: 25px;
}





/* CLIENTES */

.clientes{
	clear: both;
	background-image: url("../imagenes/fondo2.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #fff;
	margin-top: 200px;
	padding: 0 50px 50px 50px;
	text-align: center;
	
	/* height: 400px; */
	
	overflow: auto;
}

.clientes h2{
	margin-top: 110px;
	margin-bottom: 30px;
}

.clientes table{
	margin: auto;
	margin-bottom: 30px;
}

.clientes td{
	position: relative;
	height: 150px;
	padding: 20px;
}

.clientes img{
	max-width: 15vw;
	padding: 10px;
	-webkit-filter: grayscale(100%) opacity(70%);
	filter: grayscale(100%) opacity(70%);
	transition: 0.5s;
}

.clientes img:hover{
	filter: none;
}

/*
.color{
	position: absolute;
	top: 8px;
	left: 0;
}
*/





/* CONTACTO */

.contacto{
	background-image: url("../imagenes/fondo2.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #fff;
	margin-top: 200px;
	padding: 0 50px 50px 50px;
	
	text-align: center;
	
	overflow: auto;
}

.contacto h2{
	margin-top: 110px;
}

.contacto p{
	text-align: center;
	padding-top: 10px;
	line-height: 25px;
}

.contacto a{
	text-decoration: none;
	line-height: 50px;
}


/* CV */

.cv{
	text-align: center;
	line-height: 50px;
	margin: auto;
	max-width: 500px;
	padding: 20px;
	font-size: 14px;
}

.cv h3{
	font-size: 24px;
	text-align: center;
}

.cv p{
	
}

.cv form{
	font-weight: bold;
	margin: 30px;
	text-align: left;
}

.cv input{
}

.cv-input{
	border: 1px solid #999;
	border-radius: 50px;
	padding: 7px 10px;
	width: 175px;
	
	float: right;
	margin-top: 10px;	
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	margin-top: 10px;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
    color: #fff;
	font-weight: bold;
	background-color: #000b32;
    padding: 0 10px 0 10px;
	float: right;
	border-radius: 50px;
	width: 175px;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #00c3ed;
}

.enviar{
	margin: auto;
	width: 100px;
}

.enviar-boton{
	margin-top: 50px;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
    color: #fff;
	font-weight: bold;
	background-color: #000b32;
    padding: 0 10px 0 10px;
	border-radius: 50px;
	width: 100px;
	text-align: center;
	cursor: pointer;
	border: 0;
	transition: all 0.2s;
}



.enviar-boton:hover{
	background-color: #00c3ed;
}



/* CONSULTA */

.consulta{
	margin: auto;
	max-width: 550px;
	padding: 30px;
	margin-bottom: 70px;
}

.consulta h3{
	font-size: 24px;
}

.consulta form{
	/* background-color: red; */
	max-width: 550px;
}

.consulta-name{
	float: left;
	margin: 10px;
	width: 220px;
	padding: 20px;
}

.consulta-email{
	float: right;
	margin: 10px;
	width: 220px;
	padding: 20px;
}

.consulta-input{
	padding: 7px 10px;
	border-radius: 50px;
	border: 1px solid #999;
}

.consulta-textarea{
	border-radius: 5px;
	border: 1px solid #999;
	padding: 10px;
	width: 450px;
}




/* MAPA */

.mapa{
	margin: auto;
}




/* PIE */

.pie{
	background-color: #000b32;
	height: 70px;
	padding: 25px;
	color: white;
}

.pie a{
	text-decoration: none;
}

.copyright{
	float: left;
}

.redes{
	float: right;
}

.redes img{
	padding-left: 10px;
}


/* MEDIA QUERIES */

@media (max-width: 1250px){
	
	
	.nav a{
		font-size: 15px;
	}
	
	.nav ul{
		margin-right: 50px;
	}
	
	.servicios-box{
		margin: 20px;
	}
		
	.servicios-item{
		max-width: 450px;
	}
	
	.servicios-item img{
		max-width: 450px;
	}
}

@media (max-width: 1100px){
	
	.servicios-item{
		max-width: 400px;
	}
	
	.servicios img{
		max-width: 400px;
	}
}


@media (max-width: 991){
	
	.home h1{
		font-size: 40px;
	}
}
	
	.nav ul{
		margin-right: 25px;
	}
		
}

@media (max-width: 767px){
		
	.nav-m{
		display: block;
	}

	.nav{
		display: none;
	}
	
	.logo{
		margin-left: 40%;
		position: relative;
	}
	
	.header{
		height: 10vh;
	}
	
	.home{
		margin: 0;
		padding: 0;
	}
	
	.home p{
		text-align: justify;
		margin: 0;
		padding: 5px;
	}
	
	.home-box{
		margin: 0;
		margin-top: 15vh;
		padding: 0;
	}
	
	.empresa{
		margin: 0;
		padding: 0;
		padding-bottom: 2px;
	}
	
	.empresa h2{
		margin: 0;
		padding: 0;
		padding-top: 25px;
	}
	
	.empresa h3{
		font-size: 25px;
		margin: 0;
		padding: 0;
	}
	
	.empresa p{
		text-align: justify;
		font-size: 15px;
		margin: 0;
		padding: 5px;
	}
	
	.servicios{
		margin: 0px;
		margin-top: 150px;
		padding: 5px;
	}
	
	.clientes{
		margin: 0;
		margin-top: 150px;
		padding: 0;
	}
	
	.clientes h2{
		margin: 0;
		padding: 0;
		padding-top: 25px;
	}
	
	.contacto{
		margin: 0;
		margin-top: 150px;
		padding: 0;
	}
	
	.contacto h2{
		margin: 0;
		padding: 0;	
		padding-top: 25px;
	}
	
	.cv-input{
		width: 50vw;
	}
	
	.inputfile + label{
		width: 50vw;
	}
	
	.consulta{
		margin: 0;
		padding: 0;
		width: 90vw;
		margin: auto;
	}
	
	.consulta-name{
		max-width: 40vw;
		float: none;
		margin: auto;
		padding: 0;
		padding-top: 25px;
	}
	
	.consulta-email{
		max-width: 40vw;
		float: none;
		margin: auto;
		padding: 0;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	
	.consulta-textarea{
		width: 80vw;
		margin: auto;
		padding: 0;
	}
	
	.mapa{
			
	}
	
	.pie{		
		margin: 0;
		padding: 20px;
	}
	
	.pie p{
		font-size: 12px;
	}
	
}

@media (orientation:portrait){
	.servicios-item{
		margin: auto;
		margin-bottom: 50px;
		width: 90vw;
}




