/* ASYTEC/estilos.css */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url("imagenes/fondo.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	font-family: 'Raleway', sans-serif;
}

h2{
	text-align: center;
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	font-weight: light;
	color: #152c75;
}

h3{
	font-family: 'Raleway', sans-serif;
}


/* HEADER */

.header{
	background-color: #fff;
	height: 100px;
	width: 100vw;
	position: fixed;
	top: 0;
	z-index: 999;
	box-shadow: 0 0 10px #000;
	
	overflow: auto;
}

.logo{
	float: left;
	margin-left: 100px;
	position: relative;
	max-height: 100%;
}





/* NAV DESKTOP */

.nav{
	float: right;
	background-color: #fff;
	display: block;
	position: relative;
	height: 100px;
	right: 0;
}

.nav ul{
	list-style-type: none;
	background-color: pink;
	margin-right: 80px;
	position: relative;
	display: block;
}

.nav li{
	float: left;
	padding-top: 32px;
	background-color: #fff;
	height: 100px;
}

.nav a{
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	padding: 10px;
	
	transition: all 0.5s;
}

.nav a:hover{
	color: #152c75;
	text-shadow: 1px 1px 4px #aaa;
}





/* NAV MOBILE */

.nav-m{
	position: absolute;
	display: none;
}

.nav-m button{
	background: none;
	border: none;
	cursor: pointer;
	padding: 10px;
}

.nav-m-list{
	float: left;
	position: fixed;
	
	list-style-type: none;
	background-color: blue;
	
	display: none;
}

.nav-m a{
	display: block;
	padding: 20px;
	background-color: #fff;
	color: #152c75;
	text-decoration: none;
	
	transition: all 0.5s;
}

.nav-m a:hover{
	background-color: #eee;
}

.toggle{
	display: block;
}





/* HOME */

.home{
	padding: 50px;
	color: #fff;
	text-align: center;
	
	overflow: auto;
}

.home-box{
	height: 400px;
	padding-top: 250px;
	padding-bottom: 100px;
	position: relative;
}

.home h1{	
	/* margin-top: 20vh; */
	font-weight: normal;
	font-size: 50px;
}

.home p{
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
}





/* EMPRESA */

.empresa{
	margin-top: 70px;
	background-color: #fff;
	padding: 0 50px 50px 50px;
}

.empresa h2{
	padding-top: 110px;
}

.empresa h3{
	font-weight: normal;
	font-size: 40px;
	margin-bottom: 20px;
	color: #152c75;
	font-family: 'Raleway', sans-serif;
}

.empresa div{
	margin: 50px;
	margin-bottom: 50px;
}

.empresa p{
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
	padding: 5px;
}






/* SERVICIOS */

.servicios{
	margin-top: 200px;
	background-color:#fff;
	padding: 0 50px 50px 50px;
		
	overflow: auto;
}

.servicios h2{
	margin-top: 110px;
}

.servicios h3{
	padding: 20px;
	text-transform: uppercase;
	
	transition: color 0.5s;
}
	
.servicios-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	
	text-align: center;
	margin-top: 50px;
}

.servicios-item{
	background-color: #fff;
	margin-bottom: 50px;
	flex-grow: 1;
	
	max-width: 500px;
	
	border-radius: 30px;	
	box-shadow: 0 0 20px 5px #ddd;
	
	position: relative;
	overflow: hidden;
	
}

.servicios-item img{
	height: 300px;
	width: 500px;
}

.servicios-item:hover h3{
	color: #152c75;
}
	
.servicios-item:hover .info{
	bottom: 0;
}

.info{
	position: absolute;
	bottom: -300px;
	height: 300px;
	width: 500px;
	
	background-color: #000;
	opacity: 0.7;
	transition: bottom 0.5s;
}

.info p{
	color: #fff;
	padding: 50px;
	font-size: 25px;
}

.servicios-item img{
	
}




/* CLIENTES */

.clientes{
	clear: both;
	
	background-color: #fff;
	margin-top: 200px;
	padding: 0 50px 50px 50px;
	
	height: 400px;
	
	overflow: auto;
}

.clientes h2{
	margin-top: 110px;
}




/* CONTACTO */

.contacto{
	background-color: #fff;
	margin-top: 200px;
	padding: 0 50px 50px 50px;
	
	text-align: center;
	
	overflow: auto;
}

.contacto h2{
	margin-top: 110px;
}

.contacto p{
	text-align: center;
	padding-top: 10px;
	line-height: 25px;
}

.contacto a{
	text-decoration: none;
	line-height: 50px;
}


/* CV */

.cv{
	text-align: center;
	line-height: 50px;
	margin: auto;
	max-width: 500px;
	padding: 20px;
	font-size: 14px;
}

.cv h3{
	font-size: 24px;
	text-align: center;
}

.cv p{
	
}

.cv form{
	font-weight: bold;
	margin: 30px;
	text-align: left;
}

.cv input{
}

.cv-input{
	border: 1px solid #999;
	border-radius: 5px;
	padding: 7px 10px;
	width: 175px;
	
	float: right;
	margin-top: 10px;	
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	margin-top: 10px;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
    color: #fff;
	font-weight: bold;
	background-color: #152c75;
    padding: 0 10px 0 10px;
	float: right;
	border-radius: 5px;
	width: 175px;
	text-align: center;
	cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #4195d8;
}

.enviar{
	margin: auto;
	width: 100px;
}

.enviar-boton{
	margin-top: 50px;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
    color: #fff;
	font-weight: bold;
	background-color: #152c75;
    padding: 0 10px 0 10px;
	border-radius: 5px;
	width: 100px;
	text-align: center;
	cursor: pointer;
	border: 0;
}



.enviar-boton:hover{
	background-color: #4195d8;
}



/* CONSULTA */

.consulta{
	margin: auto;
	max-width: 550px;
	padding: 30px;
	margin-bottom: 70px;
}

.consulta h3{
	font-size: 24px;
}

.consulta form{
	/* background-color: red; */
	max-width: 550px;
}

.consulta-name{
	float: left;
	margin: 10px;
	width: 220px;
	padding: 20px;
}

.consulta-email{
	float: right;
	margin: 10px;
	width: 220px;
	padding: 20px;
}

.consulta-input{
	padding: 7px 10px;
	border-radius: 5px;
	border: 1px solid #999;
}

.consulta-textarea{
	border-radius: 5px;
	border: 1px solid #999;
	padding: 10px;
	width: 450px;
}




/* MAPA */

.mapa{
	margin: auto;
}




/* PIE */

.pie{
	background-color: #152c75;
	height: 70px;
	padding: 25px;
	color: white;
}

.pie a{
	text-decoration: none;
}

.copyright{
	float: left;
}

.redes{
	float: right;
}

.redes img{
	padding-left: 10px;
}


/* MEDIA QUERIES */

@media (max-width: 1000px){
	
	.home h1{
		font-size: 40px;
	}
}

@media (max-width: 850px){
	
	.home h1{
		font-size: 30px;
	}
}
	
	.home p{
		font-size: 14px;
	}
}

@media (max-width: 1150px){
	
	
	.nav a{
		font-size: 15px;
	}
	
	.nav ul{
		margin-right: 50px;
	}
		
	.servicios-item{
		max-width: 400px;
	}
	
	.servicios-item img{
		max-width: 400px;
	}
}

@media (max-width: 950px){
	
	
	.nav ul{
		margin-right: 25px;
	}
		
	.servicios-item{
		margin: auto;
		margin-bottom: 50px;
		max-width: 500px;
	}
	
	.servicios-item img{
		max-width: 500px;
	}
}

@media (max-width: 768px){
	.nav-m{
		display: block;
	}

	.nav{
		display: none;
	}
	
	.logo{
		margin-left: 40%;
		position: relative;
	}
	
}

@media (orientation:portrait){
	.servicios-item{
		margin: auto;
		margin-bottom: 50px;
		width: 90vw;
}




